/* ----Generales---- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%; /* (1rem=10px) */
}

/* ----Header---- */
.cabecera{
    width: 100%;
}

.insta{
    text-decoration: none;
    color: #000000;
}

.insta:hover{
    color: #139FF1;
}

.navbarTitle{
    padding-left:6.7rem ;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.navText{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

.navBar{
    background-color: #262626;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.boxNav{
    background-color: #FAFAFA;
    width: 1920px;
    height: 81px;
}

.boxNav p{   
    font-style: normal;
    font-weight: 500;
}

.padingrig{
    padding-right: 6.7rem;
}

.active{
    color: #139FF1 !important;
}

.whiteBoxText{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-right: 5rem;
}



.mailText{
    margin-right: 3rem;
}

/* ----Index---- */

.bgIndex{
    background-image: url(../assets/index/Inicio.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgIndex2{
    background-color: #262626;
}

.tittleIndex{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 84.4%;
    color: #FFFFFF;
}

.boxTituloIndex{
    padding-top: 22rem;
}

.boxTituloIndex2{
    margin-top: 6.75rem;
}

.subtittleIndex{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #FFFFFF;
}

.caja_contenidoIndex{
    height: 100vh;
    background-color: #262626;
}

.conenidoIndex{
    padding: 10vh 45vh;
    left: 50%;
}

.titulo_contenido{
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    font-size: 45px;
    padding-bottom: 4vh;
    text-align: center;
    letter-spacing: 0.5vh;
}

.parrafo_contenidoIndex{
    color: #FFFFFF;
    font-family: 'Montserrat';
    text-align: left;
    font-size: 28px;
    font-weight: 580;
    letter-spacing: 1px;
    line-height: 35px;
}

.resaltado_texto{
    color: #139FF1;
    text-decoration: none;
}

.btn_Index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
}

.btn{
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Bebas Neue' ;
    letter-spacing: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  
    height: 8rem;
    width: 80rem;
}

.anclaIndex{
    text-decoration: none;
    color: white;
}

.boxBotones {
    margin-bottom: 5rem;
    margin-top: 5rem;
    gap: 2rem;
}


/*--------------Inicio de página SOBRE MÍ-------------------*/

.seccion_sobreMi_mobile{
    display: none;
}

.seccion_sobreMi{
    background-color: #262626;
    color: #FFFFFF;
    height: cover;
    padding-bottom: 30px;
}

.contenedor_img{
    background-image: url(/assets/Patricio.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido_sobreMi{
    height: 95%;
    width: 100%;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
}

.btn_Amarillo{
    width: auto;
    height: auto;
}


.btn_Amarillo:hover{
    background-color: #F9FE4A;
    color: #000000;
    border: #000000;
}

@media (max-width:970px) {
    .seccion_sobreMi_mobile{
        display: flex;
        background-color: #262626;
        color: #FFFFFF;
        height: 100%;
        padding: 40px
    }

    .contenido_sobreMi_mobile{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    .seccion_sobreMi{
        display: none;
    }
}


/*-----------página Cursos------------*/

.cont_cursos{
    padding-top: 20vh;
    background-color: #262626;
    height: 100vh;
}

.subtitulos{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}



/*--------------página Consultas----------------*/

.s1{
    background-color: #262626;
    height: 60vh;
    padding-top: 20vh;
    color: #FFFFFF;
    text-align: center;
}

.s2{
    background-image: url(../assets/consultas/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    
}

.s3{
    background-image: url(../assets/consultas/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    

}

.s4{
    background-image: url(../assets/consultas/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    

}

.anclaConsultas{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    text-decoration: none;
    color: #FAFAFA;
}

.aConsulta{
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color:#000000;
}

.titulosConsultas{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.collapse{
    margin-bottom: 4rem;
}


.cardConsultas1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 1px;
    color: #000000;
    align-self: center;
    padding: 2rem;
}

.botonConsultas1{
    background: #F9FE4A;
    border-radius: 10px;
    padding: 1rem;
    border: none;
}

.botonConsultas2{
    background: #69EB28;
    border-radius: 10px;
    padding: 1rem;
    border: none;
}

.botonConsultas3{
    background: #EB4D28;
    border-radius: 10px;
    padding: 1rem;
    border: none;
}



/* ---CONTACTO--- */


.boxContacto{
    margin-top: 15rem ;
}
.tituloContacto{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 84.4%;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;

}

.contenedorContacto{
    background-color: #262626;
}

.contenedorContacto2{
    background-color: #262626;
    height: 100vh;
}

.boxTextoContacto{
    margin-top: 4.688rem;
}

.textoContacto{   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: left;
  
}

.formularioContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem 0;

}

.botonContacto{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px; 
    color: #FFFFFF;
    padding-left: 13.094rem;
    padding-right: 13.094rem;
    background-color: #262626;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    
    
}

.inputContacto{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FAFAFA;
    background-color:#262626;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 1.563rem 0;
    padding: 1rem;
    
}

textarea{
    color: #FAFAFA;
}

.inputContacto2{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color:#262626;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    height: 18rem;
    width: 100%;
    padding: 1rem;
}

.boxFomulario{
    margin-bottom: 5rem;
}

.display-none {
    display: none;
   
}
