/* ----Generales---- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%; /* (1rem=10px) */
}

/* ----Header---- */
.cabecera{
    width: 100%;
}

.insta{
    text-decoration: none;
    color: #000000;
}

.insta:hover{
    color: #139FF1;
}

.navbarTitle{
    padding-left:6.7rem ;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.navText{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

.navBar{
    background-color: #262626;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.boxNav{
    background-color: #FAFAFA;
    width: 1920px;
    height: 81px;
}

.boxNav p{   
    font-style: normal;
    font-weight: 500;
}

.padingrig{
    padding-right: 6.7rem;
}

.active{
    color: #139FF1 !important;
}

.whiteBoxText{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-right: 5rem;
}



.mailText{
    margin-right: 3rem;
}

/* ----Index---- */

.bgIndex{
    background-image: url(../assets/Inicio.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgIndex2{
    background-color: #262626;
}

.tittleIndex{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 84.4%;
    color: #FFFFFF;
}

.boxTituloIndex{
    padding-top: 22rem;
}

.subtittleIndex{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #FFFFFF;
}

.caja_contenidoIndex{
    height: 100vh;
    background-color: #262626;
}

.conenidoIndex{
    padding: 10vh 45vh;
    left: 50%;
}

.titulo_contenido{
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    font-size: 45px;
    padding-bottom: 4vh;
    text-align: center;
    letter-spacing: 0.5vh;
}

.parrafo_contenidoIndex{
    color: #FFFFFF;
    font-family: 'Montserrat';
    text-align: left;
    font-size: 28px;
    font-weight: 580;
    letter-spacing: 1px;
    line-height: 35px;
}

.resaltado_texto{
    color: #139FF1;
}

.btn_Index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
}

.btn{
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Bebas Neue' ;
    letter-spacing: 1px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  
    text-decoration: none;
}

.anclaIndex{
    text-decoration: none;
}


/*--------------Inicio de página SOBRE MÍ-------------------*/



.seccion_sobreMi{
    background-color: #262626;
    color: #FFFFFF;
    padding-top: 10vh;
    height: 100%;
    width: 100%;
}

.sobre_mi{
    padding-left: 40px;
    height: 150vh;
    display: grid;
    grid-template-columns: 49.7% 49.7%;
    grid-gap: 10px;
    height: 100%;
}

.contenido_sobreMi{
    font-size: 28px; 
    font-family: 'Montserrat', sans-serif;
}

.texto_sobreMi{
    font-weight: 350;
    line-height: 119.4%;
    letter-spacing: 1px;
    padding-bottom: 1%;
}

.destacado_sobreMi{
    color: #F9FE4A;
}

.img_sobreMi{
    background: url(../assets/Patricio.png);
    background-repeat: no-repeat;
}

.btn_Amarillo:hover{
    background-color: #F9FE4A;
    color: #000000;
    border: #000000;
}


/*-----------página Cursos------------*/

.cont_cursos{
    padding-top: 20vh;
    background-color: #262626;
    height: 100vh;
}

.subtitulos{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}



/*--------------página Consultas----------------*/

.s1{
    background-color: #262626;
    height: 60vh;
    padding-top: 20vh;
    color: #FFFFFF;
    text-align: center;
}

.consultas{
    height: 50vh;
}

/* ---CONTACTO--- */


.boxContacto{
    margin-top: 15rem ;
}
.tituloContacto{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 84.4%;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;

}

.contenedorContacto{
    background-color: #262626;
}

.boxTextoContacto{
    margin-top: 4.688rem;
}

.textoContacto{   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: left;
  
}

.formularioContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem 0;

}

.botonContacto{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px; 
    color: #FFFFFF;
    padding-left: 13.094rem;
    padding-right: 13.094rem;
    background-color: #262626;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    
    
}

.inputContacto{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FAFAFA;
    background-color:#262626;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 1.563rem 0;
    padding: 1rem;
    
}

textarea{
    color: #FAFAFA;
}

.inputContacto2{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color:#262626;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    height: 18rem;
    width: 100%;
    padding: 1rem;
}

.boxFomulario{
    margin-bottom: 5rem;
}

.display-none {
    display: none;
  }